<h1>Bookmarks</h1>
<%# <%= @lib.list_bookmarks.join('<br />') %> 

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id%>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE' /><input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>

<form action="/added" method="post">
  <input type="text" name="bookmark_title" placeholder="Bookmark title..." >
  <input type="text" name="bookmark_url" placeholder="URL..." >
  <input type="submit" value="Add">
</form> 
